<FilesMatch "^biobrick$">
    ForceType application/x-httpd-php
</FilesMatch>
<FilesMatch "^sbol_local$">
    ForceType application/x-httpd-php
</FilesMatch>
<FilesMatch "^html$">
    ForceType application/x-httpd-php
</FilesMatch>
<FilesMatch "^html_local$">
    ForceType application/x-httpd-php
</FilesMatch>
